.main__products {
    flex: 1 1 69%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.main__product {
    padding: .8rem;

    flex: 1 1 32%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $color-light;
    @extend %border;
    @extend %shadow;

    @include media-tablet {
        flex: 1 1 49%;
    }
    @include media-mobile {
        flex: 1 1 100%;
    }
}

.main__product img {
    padding: .5rem;
    max-width: 100%;
}
