.main__sidebar {
    flex: 1 1 30%;

    display: flex;
    flex-direction: column;
    gap: 1%;

    background-color: $color-light;
    @extend %border;
    @extend %shadow;
}

.main__cart{
    position: sticky;
}

.main__controls{}
