// Цвета текста.
$color-primary: #F1CDB3;
$color-active: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

// Цвета заднего фона.
$color-background-light: #FFFFFF;
$color-background-dark: #F6F6F6;
$color-background-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
// $color-background-gradient: linear-gradient(to right, #5B483A, #262425);

// Ширина контентной области.
$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;