.pets-pets {
    background: $color-background-dark;
}

.pets-pets__wrapper {
    padding: 200px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    @include media-laptop {
        padding: 200px 30px 76px;
        gap: 0;
    }
    @include media-tablet {
        padding: 162px 10px 42px;
    }
}

.pets-pets__title {
    max-width: 400px;
    max-height: 90px;
    text-align: center;
    @include media-laptop {
        margin-bottom: 30px;
    }
    @include media-tablet {
        margin-bottom: 42px;
        @include font(2.5rem, 130%);
        text-align: center;
    }
}

.pets-pets__list {
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    @include media-laptop {
        margin-bottom: 40px;
        padding: 0;
        justify-content: center;
        max-width: 580px;
    }
    @include media-tablet {
        max-width: 270px;
    }
}

// .pets-pets__card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 30px;
//     width: 270px;
//     height: 435px;
//     background: $color-light-s;
//     @extend %transition;
//     &:hover {
//         transform: scale(1.03);
//         box-shadow: 10px 15px 25px 0 $color-dark-s;
//         cursor: pointer;
//         .button {
//             background: $color-active;
//         }
//     }
//     @include media-laptop {
//         &:nth-child(n+7) {
//             display: none;
//         }
//     }
//     @include media-tablet {
//         &:nth-child(n+4) {
//             display: none;
//         }
//     }
// }

.pets-pets__buttons {
    display: flex;
    gap: 20px;
    @include media-tablet {
        gap: 10px;
    }
}