.footer {
    background: $color-background-footer;
}

.footer__wrapper {
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
    @include media-laptop {
        padding: 30px 64px 0;
        flex-direction: column;
        gap: 65px;
    }
    @include media-tablet {
        padding: 30px 10px 0;
        align-items: center;
        gap: 40px;
    }
}

.footer__content {
    margin-top: 16px;
    display: flex;
    gap: 160px;
    @include media-laptop {
        margin-top: 0;
        justify-content: center;
        gap: 60px;
    }
    @include media-tablet {
        flex-direction: column;
        align-items: center;
        gap: 38px;
    }
}

.footer__contacts {
    max-width: 279px;
    display: flex;
    flex-direction: column;
    gap: 41px;
    @include media-tablet {
        align-items: center;
        h3 {
            @include font(2.5rem, 130%);
            text-align: center;
        }
    }
}

.footer__locations {
    max-width: 302px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    @include media-tablet {
        gap: 40px;
        h3 {
            margin-left: 15px;
            max-width: 270px;
            @include font(2.5rem, 130%);
            text-align: center;
        }
    }
}

.footer__title {
    color: $color-light-xl;
}

.footer__link {
    display: flex;
    gap: 20px;
    @extend %font-primary;
    @include font (2rem, 115%);
    letter-spacing: 0.06em;
    color: $color-primary;
}

.footer__image {
    @include media-laptop {
        display: flex;
        justify-content: center;
    }
    @include media-tablet {
        width: 260px;
        height: 269px;
        img {
            width: 100%;
        }
    }
}
