.header-pets {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: $color-background-light;
}

.header-pets__wrapper {
    max-height: 120px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-laptop {
        padding: 30px;
    }
    @include media-tablet {
        padding: 30px 50px 30px 10px;
    }
}