.header {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    max-height: 180px;
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-laptop {
        max-height: 150px;
        padding: 30px 30px 60px 30px;
    }
    @include media-tablet {
        padding: 30px 53px 60px 10px;
    }
}