.header-pets {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: $color-background-light;
}

.header-pets__wrapper {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 120px;
}