.about {
    background: $color-background-light;
}

.about__wrapper {
    padding: 80px 215px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-laptop {
        padding: 80px 165px 100px;
        flex-direction: column-reverse;
        gap: 80px;
    }
    @include media-tablet {
        gap: 0;
        padding: 42px 10px;
    }
}

.about__content {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include media-tablet {
        margin-bottom: 42px;
        align-items: center;
        gap: 0;
    }
}

.about__tittle {
    max-width: 370px;
    @include media-tablet {
        margin-bottom: 25px;
        max-width: 290px;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
    }
}

.about__paragraph {
    @extend %font-secondary;
    @include font (1.5rem, 160%);
    color: $color-dark-xl;
    @include media-tablet {
        max-width: 270px;
        text-align: justify;
        margin-bottom: 22px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.about__image {
    @include media-tablet {
        max-width: 260px;
        max-height: 354px;
    }
}
