.button {
    width: 207px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

    @extend %font-prim;
    @include font (17px, 130%);
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;

    color: $color-dark-3xl;
    background: $color-light-s;

    cursor: pointer;
    @extend %transition;

    &:hover {
        background: $color-active;
    }

    &_colored {
        background: $color-primary;
    }

    &_bordered {
        border: 2px solid #F1CDB3;
    }

    &_arrow {
        width: 52px;
        height: 52px;
        border: 2px solid #F1CDB3;
    }

    &_big {
        width: 260px;
        height: 52px;
    }
}