%burger-line {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    background-color: $color-primary;
    height: 2px;
    width: 100%;
}

.menu__icon {
    display: none;
    z-index: 10;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
    @extend %transition;
    &::before {
        @extend %burger-line;
        top: 0;
    }
    &::after {
        @extend %burger-line;
        bottom: 0;
    }
    &_dark {
        &::before {
            background-color: $color-dark-d;
        }
        &::after {
            background-color: $color-dark-d;
        }
    }
    @include media-tablet {
        display: block;
    }
    &_active {
        transform: rotate(90deg);
    }
}

.menu__line {
    @extend %burger-line;
    top: calc(50% - 1px);
    &_dark {
        background-color: $color-dark-d;
    }
}

.menu__body {
    position: fixed;
    padding: 248px 38px 248px 39px;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background: $color-dark-3xl;
    transition: right .5s ease-in 0s;
    overflow: auto;
    &_active {
        right: 0;
    }
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.menu__link {
    & a {
        @extend %font-secondary;
        @include font(3.2rem, 160%);
        color: $color-dark-s;
        @extend %transition;
        cursor: pointer;
        &:hover {
            color: $color-light-s;
        }
    }
    &_active {
        & a {
            color: $color-light-s;
        }
        border-bottom: solid 3px $color-primary;
    }
}