* {
    box-sizing: border-box;
}

.keyboar_row {
    display: flex;
    user-select: none;
}

.keyboar_key {
    margin: 2px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    flex-basis: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
