.main__sorter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__sorter-form {
    padding: .2rem;
    border: 1px solid $color-primary;

    @extend %border;
}

.main__sorter-select {
    width: 100%;
    height: 100%;

    font-size: 1.3rem;
}
