.donation_wrapper {
    padding: 80px 182px 100px 183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-background-dark;
}

.dontaion__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.dontaion__tittle {
    max-width: 300px;
    max-height: 90px;
}

.dontaion__subtitle {
    max-width: 308px;
}

.donation__card {
    padding: 10px 15px;
    max-width: 349px;
    max-height: 43px;
    display: flex;
    justify-content: space-between;
    background: $color-primary;
    border-radius: 9px;
}

.dontation__text {
    @extend %font-secondary;
    @include font (1.2rem, 150%, 400, italic);
    color: $color-dark-m;
}