.navigation {
    display: flex;
    @include media-tablet {
        display: none;   
    }
}

.navigation__link {
    display: inline-block;
    margin-left: 35px;
    & a {
        @extend %font-secondary;
        @include font(1.5rem, 160%);
        color: $color-dark-s;
        @extend %transition;
        cursor: pointer;
        &:hover {
            color: $color-light-s;
        }
    }
    &_active {
        & a {
            color: $color-light-s;
        }
        border-bottom: solid 3px $color-primary;
    }
    &_dark {
        & a {
            color: $color-dark-l;
            &:hover {
                color: $color-dark-3xl;
            }
        }
    }
}