.slider {
    display: flex;
    align-items: center;
    gap: 53px;
}

.slider__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
}

.slider__card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 30px;
    width: 270px;
    height: 435px;
    background: $color-light-s;
    @extend %transition;
    &:hover {
        transform: scale(1.03);
        box-shadow: 10px 15px 25px 0 $color-dark-s;
        cursor: pointer;
        .button {
            background: $color-active;
        }
    }
}

.slider__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 23px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}