@keyframes move-left {
    from {left: -990px;}
    to {left: 0px;}
}

@keyframes move-right {
    from {left: -990px;}
    to {left: -1980px;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s;
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s;
}

.slider {
    display: flex;
    align-items: center;
    gap: 53px;
    @include media-laptop {
        gap: 12px;
    }
    @include media-tablet {
        height: 507px;
        position: relative;
        align-items: flex-start;
    }
}

.slider__wrapper {
    width: 990px;
    overflow: hidden;

    @include media-laptop {
        width: 580px;
    }
    @include media-tablet {
        width: 270px;
    }
}

.slider__list {
    display: flex;
    position: relative;
    left: -990px;
}

.slider__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    @include media-laptop {
        width: 580px;
        gap: 40px;
    }
    @include media-tablet {
        width: 270px;
    }
}

// .slider__card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 30px;
//     width: 270px;
//     height: 435px;
//     background: $color-light-s;
//     @extend %transition;
//     &:hover {
//         transform: scale(1.03);
//         box-shadow: 10px 15px 25px 0 $color-dark-s;
//         cursor: pointer;
//         .button {
//             background: $color-active;
//         }
//     }
//     @include media-laptop {
//         &:last-child {
//             display: none;
//         }
//     }
//     @include media-tablet {
//         &:nth-child(2n) {
//             display: none;
//         }
//     } 
// }

.slider__name {
    @extend %font-primary;
    @include font (2rem, 23px);
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

.slider__button {
    @include media-tablet {
        &:first-child {
            position: absolute;
            bottom: 0;
            left: 43px;
        }
        &:last-child {
            position: absolute;
            bottom: 0;
            right: 43px;
        }
    }
}