button {
	padding: .2em .4em;
	border: 1px solid rgb(43, 41, 41);
    transition: all .3s ease;
}

button:hover {
    background-color: rgb(130, 204, 181);
}

button:active {
    background-color: rgb(101, 158, 147);
}

.wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    /* max-width: 1400px; */
    min-height: 100%;
}

.header__container {
    padding: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 1rem;
}

.main {
    flex: 1 1 auto;
}

.main__container {
    padding: 1.2rem;

    display: flex;
	flex-direction: column;
    gap: 2rem;
}

.main__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__container {
    padding: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__data {
    font-size: 2rem;
}

.footer__rss img {
    width: 12rem;
}

.hidden {
    display: none;
}

.dashboard {
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.dashboard__controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard__create,
.dashboard__update {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.dashboard__race {
    display: flex;
    gap: .5rem;
}
